#{{ ansible_managed }}
#dbserver docker file

FROM ubuntu

MAINTAINER Leonard Kioi Kinyanjui

RUN echo "deb http://archive.ubuntu.com/ubuntu/ $(lsb_release -sc) main universe" >> /etc/apt/sources.list

RUN apt-get update

RUN apt-get install -y git dialog vim

RUN apt-get install -y python python-dev python-distribute python-pip

RUN apt-get install -y software-properties-common

RUN apt-add-repository ppa:ansible/ansible

RUN apt-get update

RUN apt-get install -y ansible

ADD devops /codenyumbani/devops

WORKDIR /codenyumbani

RUN ansible-playbook -i devops/inventory/docker_dbservers devops/docker_dbservers.yml

EXPOSE 27017

ENTRYPOINT /usr/bin/mongod
